HighScoreUI {
	position: absolute;
	right: 0;
	top: 256px;
	font-family: Poppins;
	flex-direction: column;
	padding: 16px;
	align-items: flex-end;
	color: lightgreen;

	> .scoretitle {
		text-align: right;
		font-size: 64px;
		font-weight: bold;
	}

	> .score {
		text-align: right;
		font-size: 96px;
		font-weight: bold;
	}
}