ScoreHud {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 24px;

	> .scoretitle {
		position: absolute;
		top: 0px;
		right: 25px;
		text-align: left;
		font-size: 64px;
		font-weight: bold;
	}

	> .score {
		position: absolute;
		top: 75px;
		right: 25px;
		text-align: left;
		font-size: 96px;
		font-weight: bold;
	}
}
